<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleDisplayName</key><string>Move</string><key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string><key>CFBundleIdentifier</key><string>cc.spel.move.ios</string><key>UILaunchScreen</key><dict/><key>UIBackgroundModes</key><array><string>remote-notification</string></array><key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>move</string></array></dict></array></dict></plist>
